.card {
  display: flex;
  border: 1px black solid;
  width: 125px;
  height: auto;
  min-height: 125px;
  text-align: center;
  border-radius: 10%;
  overflow-wrap: break-word;
  padding: 10px;
  flex-wrap: wrap;
  margin: 10px;
  box-shadow: 5px 5px 10px black;
  font-size: 1.1rem;
}

.cardP {
  padding: 0;
  margin: 0;
  margin: 10px 0;
}

.card-item {
  width: 100%;
}

.purchased-item {
  background-color: rgb(127, 127, 127);
  color: white;
  border: 1px solid white;
}

.purchased-text {
  font-weight: bold;
}

.card button {
  background-color: white;
  border: none;
  border: 1px solid white;
  text-align: center;
  vertical-align: bottom;
  padding: 4px 2px 0px 2px;
  box-sizing: border-box;
  font-size: 1.1rem;
}

.card button:hover {
  background-color: lightgray;
  border-radius: 5px;
}

.item-btn-confirm {
  color: green;
}

.item-btn-delete {
  color: red;
}

.item-btn-edit {
  color: gray;
}

.item-btn-cancel {
  color: orange;
}

.bg-red {
  background-color: red;
  color: white;
}

.bg-green {
  background-color: green;
  color: white;
}

.bg-orange {
  background-color: orange;
  color: white;
}

.input-card {
  width: 90%;
  display: inline;
  margin-top: 10px;
  font-size: 1.1rem;
  text-align: center;
}

.input-quantity {
  width: 20%;
}

.input-unit {
  width: 61%;
}
